[Unit]
Description=Your Application Service
After=network.target

[Service]
ExecStart=/home/hds/start-documentmis.sh
Restart=always
User=your_username
Group=your_groupname

[Install]
WantedBy=multi-user.target

[Unit]
Description=Your Application Service
After=syslog.target

[Service]
ExecStart=/usr/bin/java -jar /home/hds/documentmis.jar --spring.config.location=file:./  > /dev/null 2>&1 &
Restart=always
User=root
ExitStatus=143

[Install]
WantedBy=multi-user.target